.page-header
  %h1 Registered Users for #{@training.title}

-if @training_records.empty?
  .jumbotron
    %h2 No user has registered for this training yet
  %h3=link_to('<i class="icon-circle-arrow-left"></i> Back'.html_safe,@workshop)

-else
  = form_tag record_attendance_trainings_path, :method =>:put do
    %table.table.table-striped.table-responsive.table-nonfluid.table-customstyle
      %thead
        %tr
          %th First Name
          %th Last Name
          %th Email
          %th Attended?

      %tbody
        - @training_records.each do |record|
          %tr
            %td= link_to "#{record.user.firstname}", user_path(record.user)
            %td= record.user.lastname
            %td= record.user.email
            -if record.attended
              %td attended
            -else
              %td= check_box_tag "unattended_ids[]", record.id,false
    %h3=submit_tag "Submit Attendance"
    %br
    %br
    %h3=link_to('<i class="icon-circle-arrow-left"></i> Back'.html_safe,@training)
%br

