
%h1 Registered Users
-if !@training_records.empty?
  %table
    %tr
      %th First Name
      %th Last Name
      %th Email
      %th Attended
    = form_tag record_attendance_trainings_path, :method =>:put do
      - @training_records.each do |record|
        %tr
          %td= record.user.firstname
          %td= record.user.lastname
          %td= record.user.email
          -if record.attended
            %td attended
          -else
            %td= check_box_tag "training_records_ids[]", record.id

    %br
      =submit_tag "Submit"
      %br
