//Displays a list of all training events
.page-header
  %h1 List of trainings

.dashboard.clearfix
  %ul.tiles
    - if ((current_user.role? "SeniorCommittee") || (current_user.role? "TechManager"))
      %a.buttonnewtraining{href:new_training_path, role:"button"} Create New Training
      %br

    - @trainings.each do |training|
      = training_name_links(training) # displays the training name as well as related icons
      .tile.tile-big.tile-12{"data-page-name" => "random-r-page", "data-page-type" => "r-page"}
        .col1.clearfix
          %i.icon-tasks
          #{training.title}
        .col2.clearfix
          %div
            %p
              = training.description

        %figure
          %figcaption.tile-caption.caption-right 
            Type: #{training.category}
            %br
            Date: #{training.date.strftime("%B %d, %Y")}
            %br
            Time: #{training.time.strftime("%I:%M%p")}
            %br
            Duration: #{training.duration} mins
