%h1 Listing trainings

%table
  %tr
    %th Title
    %th Type
    %th Date
    %th Description
    %th{colspan: "3"} Options

  - @trainings.each do |training|
    %tr
      %td= training.title
      %td= training.category
      %td= training.date
      %td= training.description
      %td= link_to 'Show', training
      %td= link_to 'Edit', edit_training_path(training)
      %td= link_to 'Destroy', training, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Training', new_training_path
