
%p
  %h2= @training.title
%p
  %b Type:
  = @training.category
%p
  %b Description:
  = @training.description
%p
  %b Date:
  = @training.date.strftime("%B %d, %Y")
%p
  %b Time:
  = @training.time.strftime("%I:%M%p")
%p
  %b Duration:
  #{@training.duration} minutes

%h4=check_training_attendee(@training)
%p
- if ((current_user.role? "SeniorCommittee") || (current_user.role? "TechManager"))

  %a.btn.btn-primary.btn-lg{href:attendee_training_path(@training) , role: "button"} View registered users

=training_navigation_links(@training)



