= simple_form_for(@workshop) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :description
    / = f.input :date
    = f.label :date
    = f.text_field :date, :as => :date_picker 
  

  .form-actions
    = f.button :submit
