
%h1 Registered Users
-if !@workshop_records.empty?
  %table
    %tr
      %th First Name
      %th Last Name
      %th Email
      %th Attended
    = form_tag record_attendance_workshops_path, :method =>:put do
      - @workshop_records.each do |record|
        %tr
          %td= record.user.firstname
          %td= record.user.lastname
          %td= record.user.email
          -if record.attended
            %td attended
          -else
            %td= check_box_tag "workshop_records_ids[]", record.id

      =submit_tag "Submit"
