
%h1 Registered Users
-if !@workshop_records.empty?
  = form_tag record_attendance_workshops_path, :method =>:put do

    %table.table.table-striped.table-responsive.table-nonfluid.table-customstyle
      %thead
        %tr
          %th First Name
          %th Last Name
          %th Email
          %th Attended?

      %tbody
        - @workshop_records.each do |record|
          %tr
            %td= link_to "#{record.user.firstname}", user_path(record.user)
            %td= record.user.lastname
            %td= record.user.email
            -if record.attended
              %td attended
            -else
              %td= check_box_tag "unattended_ids[]", record.id,false

    %h3=submit_tag "Submit Attendance"
    %br
    %br
    %h3=link_to('<i class="icon-circle-arrow-left"></i> Back'.html_safe,@workshop)

