//Displays a list of all workshopevents
.page-header
  %h1 List of Workshops



.dashboard.clearfix
  %ul.tiles
    - if ((current_user.role? "SeniorCommittee") || (current_user.role? "TechManager"))
      %a.buttonnewworkshop{href:new_workshop_path, role:"button"} Create New Workshop
      %br

    - @workshops.each do |workshop|
      = workshop_name_links(workshop) # displays the workshop name as well as related icons
      .tile.tile-big.tile-12{"data-page-name" => "random-r-page", "data-page-type" => "r-page"}
        .col1.clearfix
          %i.icon-tasks
          #{workshop.title}
        .col2.clearfix
          %div
            %p
              = workshop.description

        %figure
          %figcaption.tile-caption.caption-right 
            Date: #{workshop.date.strftime("%B %d, %Y")}
            %br
            Time: #{workshop.time.strftime("%I:%M%p")}
            %br
            Duration: #{workshop.duration} mins


