%h2= @workshop.title
%p
  %b Description:
  = @workshop.description
%p
  %b Date:
  = @workshop.date.strftime("%B %d, %Y")
%p 
  %b Time:
  = @workshop.time.strftime("%I:%M%p")
%p
  %b Duration (minutes):
  #{@workshop.duration} minutes

%h4=check_workshop_attendee(@workshop)
%p

- if ((current_user.role? "SeniorCommittee") || (current_user.role? "TechManager"))
  %a.btn.btn-primary.btn-lg{href:attendee_workshop_path(@workshop) , role: "button"} View registered users

=workshop_navigation_links(@workshop)