%p#notice= notice

%p
  %b Name:
  = @profile.name
%p
  %b Course:
  = @profile.course
%p
  %b Ucard:
  = @profile.ucard
%p
  %b Year:
  = @profile.year
%p
  %b Email:
  = @profile.email

= link_to 'Edit', edit_profile_path(@profile)
\|
= link_to 'Back', profiles_path
