//Signup page for new users
.container
  .page-header{style: "text-align:center"}
    %h1 Sign Up
  .signup.col-md-8.col-md-offset-2
    = bootstrap_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      =f.alert_message "Please fix the following errors", error_summary: false


      %h2 Please fill in your login information
      .form-inputs

        = f.email_field :email
        = f.password_field :password
        = f.password_field :password_confirmation

      %h2 Now fill in your Personal Details
      .form-inputs

        .col-md-6=f.text_field :firstname
        .col-md-6=f.text_field :lastname
        .col-md-4= f.text_field  :course
        .col-md-4
          = f.text_field :ucard
        .col-md-4= f.select :level,  [ "Level1", "Level2", "Level3","Level4"]
        %br
        %br


      .form-actions
        %br
        =f.submit 'Sign Up', :class=>'btn btn-primary btn-lg active'
        %br/
        %br/
        %br/
        %br/

    %br/
    %br/
    %br/
  %br/
  %br
  %br
  %br
  %br/
  %br/
  %br/


