= simple_form_for(@show_date) do |f|
  = f.error_notification

  .form-inputs
    = f.label :title, "Title"
    = f.text_field :title
    = f.label :date, "Date"
    = f.text_field :date, as: :bootstrap_datepicker
    = f.label :time, "Time"
    = f.text_field :time, as: :bootstrap_timepicker


  .form-actions
    = f.button :submit
