%p#notice= notice

%p
  %b Title:
  = @show_date.title
%p
  %b Date:
  = @show_date.date
%p
  %b Time:
  = @show_date.time
%p
  %b Show:
  = @show_date.show

= link_to 'Edit', edit_show_date_path(@show_date)
\|
= link_to 'Back', show_dates_path
