= simple_form_for([@show_date,@foh]) do |f|
  = f.error_notification
  %h2= "Hi, #{current_user.firstname}"
  = "The following positions are available for #{@show_date.title} on #{@show_date.date}. Please select your desired position, fill in your phone number and click submit"
  %p
  .form-inputs
    .field
      = f.label :available_positions
      = f.collection_radio_buttons(:position_id, Position.all, :id, :name)
    .field
      = f.input :phone_number
  %p
  .form-actions
    = f.submit "Apply"
