- if @foh.errors.any?
  -@foh.errors.full_messages.each do |msg|
    %li=msg

= simple_form_for([@show_date,@foh]) do |f|
  %p= "The following positions are available for #{@show_date.title} on #{@show_date.date.strftime("%B %d, %Y")}"
  %p= "Please select your desired position, fill in your phone number and click Apply"
  %p
  .form-inputs
    .field
      = f.association :position, as: :radio_buttons, collection: @positions
    .field
      = f.input :phone_number
  %p
  .form-actions
    = f.submit "Apply"
