= simple_form_for(@foh) do |f|
  = f.error_notification

  .form-inputs
    = f.input :position, collection: ['FOH Manager','Usher']
    = f.input :required_number
    = f.input :available_number
    = f.input :date
    = f.association :show

  .form-actions
    = f.button :submit
