= simple_form_for([@board, @conversation]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :body, :label => "Initial Comment", :placeholder => 'Enter your Comment here', as: :text, :input_html => { :cols => 70, :rows => 3 }
    %br


  .form-actions
    = f.button :submit
