= simple_form_for([@board, @conversation]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :body, :rows => 3, :cols => 70, :placeholder => 'Enter your Comment here',type: :text_area


  .form-actions
    = f.button :submit
