.page-header
  %h1= @conversation.title
%p
%h4 Initial comment
%i.commenter= @conversation.user.firstname
.commenter.h6= @conversation.created_at.strftime("%B %d, %Y %I:%M%p")
.comment= @conversation.body
%hr

.col-md-8
  %h4 Replies

  -if(@comments)
    #comments= render @conversation.comments

  %i.h4.commenter= "Leave a comment"
  = simple_form_for([@board, @conversation, @new_comment],remote: true) do |f|
    = f.error_notification
    = f.text_area :body, :rows => 3, :cols => 70, :placeholder => 'Enter your Comment here'
    %p
    .form-actions
      = f.submit "Add Comment", remote: true

  %p
    = link_to 'Edit Conversation', edit_board_conversation_path(@board, @conversation)
    \|
    = link_to 'Back to the main board', board_path(@board)
