.page-header
  %h1= @conversation.title
%p
  %h4= @conversation.body

.col-md-8
  %i #{@comments.count} Replies
  %p
  -if(!@comments.empty?)
    - @comments.each do |comment|
      %i.commenter= comment.user.firstname
      .commenter.h6= comment.created_at.strftime("%B %d, %Y %I:%M%p")
      .comment.p= comment.body
      %hr

  %i.h4.commenter= "Leave a comment"
  = simple_form_for([@board, @conversation, @new_comment]) do |f|
    = f.error_notification
    = f.text_area :body, :rows => 3, :cols => 70, :placeholder => 'Enter your Comment here'
    %p
    .form-actions
      = f.submit "Add Comment"

  %p
    = link_to 'Edit Conversation', edit_board_conversation_path(@board, @conversation)
    \|
    = link_to 'Back to the main board', board_path(@board)
