%h1 Listing applicants

%table
  %tr
    %th Name
    %th Course
    %th Ucard
    %th Year
    %th Email
    %th Status
    %th Access level
    %th{colspan: "3"} Options

  - @applicants.each do |applicant|
    %tr
      %td= applicant.name
      %td= applicant.course
      %td= applicant.ucard
      %td= applicant.year
      %td= applicant.email
      %td= applicant.status
      %td= applicant.level
      %td= link_to 'Show', applicant
      %td= link_to 'Edit', edit_applicant_path(applicant)
      %td= link_to 'Destroy', applicant, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

-#= link_to 'New Applicant', new_applicant_path
