%h1 To be processed
%table.table.table-striped.table-responsive.table-nonfluid.table-customstyle
  %thead
    %tr
      %th Show Name
      %th Position
      %th Applicant
      %th 
      %th Status
      %th 

  - @role_applications.each do |role_application|
    %tbody
      - if (role_application.status == "Pending")
        %tr 
          %td= role_application.show_role.show.name
          %td= role_application.show_role.position
          %td= link_to role_application.user.firstname, role_application.user
          %td= link_to role_application.user.lastname, role_application.user
          %td= role_application.status
          - if (role_application.status == "Pending")
            %td= link_to 'Process Application', role_application
          - elsif
            %td= link_to 'View Application', role_application


%h1 All applications
%table.table.table-striped.table-responsive.table-nonfluid.table-customstyle
  %thead
    %tr
      %th Show Name
      %th Position
      %th Applicant
      %th 
      %th Status
      %th 

  - @role_applications.each do |role_application|
    %tbody
      %tr 
        %td= role_application.show_role.show.name
        %td= role_application.show_role.position
        %td= link_to role_application.user.firstname, role_application.user
        %td= link_to role_application.user.lastname, role_application.user
        %td= role_application.status
        - if (role_application.status == "Pending")
          %td= link_to 'Process Application', role_application
        - elsif
          %td= link_to 'View Application', role_application


