%h1 To Be Processed
%table.table.table-striped.table-responsive.table-nonfluid.table-customstyle.table-hover
  %thead
    %tr
      %th Show Name
      %th Position
      %th Applicant
      %th Status
      %th 
  %tbody
    - @role_applications.each do |role_application|
      - if ((role_application.status == "Pending") && (role_application.show_role.notexpired?))
        %tr
          %td= role_application.show_role.show.name
          %td= role_application.show_role.position
          %td= link_to role_application.user.firstname + " " + role_application.user.lastname, role_application.user
          %td= role_application.status
          %td= link_to 'Process Application', role_application


%h1 All Applications
%table.table.table-striped.table-responsive.table-nonfluid.table-customstyle
  %thead
    %tr
      %th Show Name
      %th Position
      %th Applicant
      %th Status
      %th 
  %tbody
    - @role_applications.each do |role_application|

      - if (role_application.show_role.notexpired?)
        %tr 
          %td= role_application.show_role.show.name
          %td= role_application.show_role.position
          %td= link_to role_application.user.firstname + " " + role_application.user.lastname, role_application.user
          %td= role_application.status
          - if (role_application.status == "Pending")
            %td= link_to 'Process Application', role_application
          - else
            %td= link_to 'View Application', role_application


