// new role application for displayed show role
%h2 You are applying for  #{@show_role.position} in #{@show_role.show.name}

// display show detals
.container
  .col-md-5
    %br
    %p
      // display show image
      -if(@show_role.show.image?)
        = image_tag @show_role.show.image_url, alt: "No Poster", height: "auto", width: "320"
      -else
        %i= "No Show poster yet"
    %p
      %b Director:
      = @show_role.show.director
    %p
      %b Stage manager:
      = @show_role.show.stage_manager
    %p
      %b Producer:
      = @show_role.show.producer

    #roleapplication 
      %ulblue 
        = link_to "Back To Show", @show_role.show
  .col-md-7
    = render 'form'
    %br

