%p#notice= notice
%b= "Your application for #{@role_application.show_role.position} in #{@role_application.show_role.show.name}"
%br
%br
%p
  %b Why did apply for the role:
  %br
  = @role_application.content
  %br
  - if (current_user.role? "DramaStudioManager")
    = simple_form_for([@show_role, @role_application]) do |f|
      .form-inputs
      = f.input :status, collection: [ "Pending", "Approved", "Rejected"]
      %br

      .form-actions
      = f.button :submit, "Update Application Status"

  - else
    %b Status:
    = @role_application.status
    %br

= link_to role_application_navigation_links(@role_application)
 
  
  


