
- if (current_user.role? "DramaStudioManager")
  %h2= "Processing application for #{@role_application.show_role.position}"
- else
  %h2= "Your application for #{@role_application.show_role.position}"

.container
  .col-md-5
    %br
    %p
      %b Show:
      = @role_application.show_role.show.name
    %p
      -if(@role_application.show_role.show.image?)
        = image_tag @role_application.show_role.show.image_url, alt: "No Poster", height: "auto", width: "320"
      -else
        %i= "No Show poster yet"
    %p
      %b Director:
      = @role_application.show_role.show.director
    %p
      %b Stage manager:
      = @role_application.show_role.show.stage_manager
    %p
      %b Producer:
      = @role_application.show_role.show.producer

    #roleapplication 
      %ulblue 
        = link_to "View The Show", @role_application.show_role.show
  .col-md-7
    %br
    - if (current_user.role? "DramaStudioManager")
      %p
        %b Applicant name:
        =link_to @role_application.user.firstname + " " + @role_application.user.lastname, @role_application.user
      %p
        %b Position:
        = @role_application.show_role.position
      

    %p
      %b Why did you apply for the role:
      %br
      = @role_application.content
      %br
    %p
      - if (current_user.role? "DramaStudioManager")
        = simple_form_for([@show_role, @role_application]) do |f|
          .form-inputs
          #roleapplication
            = f.input :status, collection: [ "Pending", "Approved", "Rejected"], :include_blank => false
          %br
    
          .form-actions
          #roleapplication
            = f.button :submit, "Update Application Status"

          #roleapplication 
            %ulblue 
              = link_to "Back To Application List", role_applications_path
    
      - else
        %b Status:
        = @role_application.status
        %br
        #roleapplication 
          %ulblue 
            = link_to "View All My Application Records", current_user


  
  


