// different displays according to user permissions
- if (current_user.role? "TechManager")
  %h2= "Processing application for #{@role_application.show_role.position}"
- else
  %h2= "Your application for #{@role_application.show_role.position}"

// display show details in database
.container
  .col-md-5
    %br
    %p
      %b Show:
      = @role_application.show_role.show.name
    %p
      -if(@role_application.show_role.show.image?)
        = image_tag @role_application.show_role.show.image_url, alt: "No Poster", height: "auto", width: "320"
      -else
        %i= "No Show poster yet"
    %p
      %b Director:
      = @role_application.show_role.show.director
    %p
      %b Stage manager:
      = @role_application.show_role.show.stage_manager
    %p
      %b Producer:
      = @role_application.show_role.show.producer

    // link to show
    #roleapplication 
      %ulblue 
        = link_to "View The Show", @role_application.show_role.show
  .col-md-7
    %br
    // display different links according to user permissions
    - if (current_user.role? "TechManager")
      %p
        %b Applicant name:
        =link_to @role_application.user.firstname + " " + @role_application.user.lastname, @role_application.user
      %p
        %b Position:
        = @role_application.show_role.position
      
      // display content inserted for the role
    %p
      %b Why are you applying for this role:
      %br
      = @role_application.content
      %br
    %p
      // allow processing of applications for Tech Managers
      - if (current_user.role? "TechManager")
        = simple_form_for([@show_role, @role_application]) do |f|
          .form-inputs
          #roleapplication
            = f.input :status, collection: [ "Pending", "Approved", "Rejected"], :include_blank => false
          %br
          .form-actions
          #roleapplication
            = f.button :submit, "Update Application Status"
          %br
          #roleapplication 
            %ulblueright 
              = link_to "Back To Application List", role_applications_path
      - else
        // View all records link
        %b Status:
        = @role_application.status
        %br
        #roleapplication 
          %ulblueright 
            = link_to "View All My Application Records", current_user


  
  


