//Displays a List of Users for Admin use

%h2 List of Users awaiting Approval
-if @awaiting_users.empty?
  You have no unapproved users
-else
  %table
    %tr
      %th Name
      %th Lastname
      %th Ucard Number
      %th Email
      %th Course
      %th Level
      %th Approved
      %th Actions

    - @awaiting_users.each do |user|
      %tr
        %td= user.firstname
        %td= user.lastname
        %td= user.ucard
        %td= user.email
        %td= user.course
        %td= user.level
        %td= user.approved
        %td= link_to 'Approve User', edit_user_path(user)

%br
%h2 List of Currently Approved Users
%table
  %tr
    %th Name
    %th Lastname
    %th Ucard Number
    %th Email
    %th Course
    %th Level
    %th Approved
    %th Actions



  - @approved_users.each do |user|
    %tr
      %td= user.firstname
      %td= user.lastname
      %td= user.ucard
      %td= user.email
      %td= user.course
      %td= user.level
      %td= user.approved
      %td= link_to 'Change Approval status', edit_user_path(user)

%br


