%h2 Profile
%p
  %b Email:
  = current_user.email
%p
  %b Name:
  = current_user.firstname + " " + current_user.lastname
%p
  %b Course:
  = current_user.course
%p
  %b Ucard Number:
  = current_user.ucard
%p
  %b Level:
  = current_user.level

-if !@fohs.empty?
  %h2 List of Front of house positions
  %table
    %tr
      %th Show
      %th Position
      %th Date
      %th Time

    - @fohs.each do |foh|
      %tr
        %td= link_to foh.show_date.show.name, foh.show_date.show
        %td= foh.position.name
        %td= foh.show_date.date
        %td= foh.show_date.time.strftime("%I:%M%p")

-if !@training_records.empty?
  %h2 List of Training Records
  %table
    %tr
      %th Title
      %th Description
      %th Date
      %th Time

    - @training_records.each do |foh|
      %tr
        %td= link_to foh.training.title, foh.training
        %td= foh.training.description
        %td= foh.training.date
        %td= foh.training.time.strftime("%I:%M%p")
-if !@workshop_records.empty?
  %h2 List of Workshop Records
  %table
    %tr
      %th Title
      %th Description
      %th Date
      %th Time

    - @workshop_records.each do |foh|
      %tr
        %td= link_to foh.workshop.title, foh.workshop
        %td= foh.workshop.description
        %td= foh.workshop.date
        %td= foh.workshop.time.strftime("%I:%M%p")

= link_to 'Update Profile', edit_user_registration_path(@user)

