#calendar
  .container
    %br
    - if ((current_user.role? "SeniorCommittee") || (current_user.role? "TechManager"))
      .buttonshow
        = link_to "Create New Show", new_show_path
      .buttonworkshop
        = link_to "Create New Workshop", new_workshop_path
      .buttontraining
        = link_to "Create New Training", new_training_path
      .buttonsocial
        = link_to "Create New Social", new_social_path
      %br
      %br
      %br
      %br
      %br

    %h2

      %ularrow= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m-%d")
      %mon= @date.strftime("%B %Y")
      %ularrow= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-%d")
    %h2
    = calendar_for @events, :year => @date.year, :month => @date.month do |calendar|
      = calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')
      - calendar.day(:day_method => :date) do |date, events|
        = date.day    
        %p

        - for event in events
          - if(event.event_name.eql?'ShowDate')
            .linkshow
              %a
                = link_to h(event .title), event
          - elsif(event.event_name.eql?"Social")
            .linksocial
              %a
                = link_to h(event .title), event
          - elsif(event.event_name.eql?"Training")
            .linktraining
              %a
                = link_to h(event .title), event
          - elsif(event.event_name.eql?"Workshop")
            .linkworkshop
              %a
                = link_to h(event .title), event
    %br

