%h1 Event Calendar

%a.btn.btn-primary.btn-lg{href: new_social_path, role: "button"} Create New Social Event
%a.btn.btn-success.btn-lg{href: new_show_path, role: "button"} Create New Show
%a.btn.btn-info.btn-lg{href: new_workshop_path, role: "button"} Create New Workshop
%a.btn.btn-warning.btn-lg{href: new_training_path, role: "button"} Create New Training Session

#calendar
  %h2
    .month
      = link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m-%d")
      =h @date.strftime("%B %Y")
      = link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-%d")
  %h2
    = calendar_for @events, :year => @date.year, :month => @date.month do |calendar|
      = calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')
      - calendar.day(:day_method => :date) do |date, events|
        = date.day    
        %p

        - for event in events
          - if(event.event_name.eql?'ShowDate')
            %ulshow
              = link_to h(event .title), event
          - elsif(event.event_name.eql?"Social")
            %ulsocial
              = link_to h(event .title), event
          - elsif(event.event_name.eql?"Training")
            %ultraining
              = link_to h(event .title), event
          - elsif(event.event_name.eql?"Workshop")
            %ulworkshop
              = link_to h(event .title), event

