
.page-header
  %h1= @board.title

%h4 Conversations
-if(!@conversations.empty?)
  %table.table.table-striped.table-responsive.table-nonfluid.table-customstyle
    %thead
      %tr
        %th Title
        %th Comment

    %tbody
      - @conversations.each do |conversation|
        %tr
          %td
            = link_to(conversation.title, board_conversation_path(@board,conversation))
            %i.h6= "(created by " + conversation.user.firstname + " on " + conversation.created_at.strftime("%B %d, %Y %I:%M%p") + ") "
          %td= conversation.body
          /%td= link_to 'Show', conversation
          /%td= link_to 'Edit', edit_conversation_path(conversation)
          /%td= link_to 'Destroy', conversation, :method => :delete, :data => { :confirm => 'Are you sure?' }


%p= link_to 'New Conversation', new_board_conversation_path(@board)


= link_to 'Edit', edit_board_path(@board)
\|
= link_to 'Back', boards_path
