
.page-header
  %h1= @board.title

%p= link_to 'Add Conversation', new_board_conversation_path(@board)

-if(!@conversations.empty?)
  %table.table.table-striped.table-responsive.table-nonfluid.table-customstyle.table-hover
    %thead
      %tr
        %th Conversation Topics
        -if(current_user.role? "SeniorCommittee")
          %th Moderate?

    %tbody
      - @conversations.each do |conversation|
        %tr
          %td
            = link_to(conversation.title, board_conversation_path(@board,conversation))
            (#{conversation.comments.count} comments)
            %i.h6
              = "(created by "
              -if(conversation.user.eql?(current_user))
                = "you"
              -else
                =conversation.user.firstname
              =") on " + conversation.created_at.strftime("%B %d, %Y %I:%M%p") + ") "
          /%td= link_to 'Edit', edit_conversation_path(conversation)
          -if(current_user.role? "SeniorCommittee")
            %td= link_to 'Remove conversation', [@board, conversation], :method => :delete, :data => { :confirm => 'Are you sure?' }




