%h1 Available show roles
%table.table.table-striped.table-responsive.table-nonfluid.table-customstyle.table-hover
  %thead
    %tr
      %th Show
      %th Role
      %th Available number
      %th Options
  %tbody
    -@show_roles.each do |c|
      -if(c.notexpired?)
        %tr
          %td= link_to c.show.name, c.show
          %td= c.position
          %td= c.required_number
          -if(c.applied?(current_user.id))
            %td= link_to 'View my application', current_user
          -else
            %td= link_to 'Apply for role', new_show_role_role_application_path(c)



