%p#notice= notice

%p
  %b Name:
  = @role.name
%p
  %b Position:
  = @role.position
%p
  %b Required number:
  = @role.required_number
%p
  %b Available number:
  = @role.available_number
%p
  %b Show:
  = @role.show

= link_to 'Edit', edit_role_path(@role)
\|
= link_to 'Back', roles_path
