%h1 Listing roles

%table
  %tr
    %th Name
    %th Position
    %th Required number
    %th Available number
    %th Show
    %th
    %th
    %th

  - @roles.each do |role|
    %tr
      %td= role.name
      %td= role.position
      %td= role.required_number
      %td= role.available_number
      %td= role.show
      %td= link_to 'Show', role
      %td= link_to 'Edit', edit_role_path(role)
      %td= link_to 'Destroy', role, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Role', new_role_path
