= simple_form_for(@workshop_attendance) do |f|
  = f.error_notification

  .form-inputs
    = f.input :username
    = f.input :recorder
    = f.association :workshop

  .form-actions
    = f.button :submit
