%p#notice= notice

%p
  %b Username:
  = @workshop_attendance.username
%p
  %b Recorder:
  = @workshop_attendance.recorder
%p
  %b Workshop:
  = @workshop_attendance.workshop

= link_to 'Edit', edit_workshop_attendance_path(@workshop_attendance)
\|
= link_to 'Back', workshop_attendances_path
