%h1 New show
// display errors, if any
.div.tiles
  - if @show.errors.any?
    -@show.errors.full_messages.each do |msg|
      %li=msg

  // complete required fields
  = simple_form_for(@show) do |f|
    = f.error_notification
    %p
      .form-inputs
        = f.input :name
        = image_tag @show.image_url, size: "140x140" if @show.image?
        = f.file_field :image
        // allow image removing option
        - if @show.image?
          = f.label "Remove Avatar"
          = f.check_box :remove_image
        = f.hidden_field :image_cache
        = f.input :director
        = f.input :stage_manager
        = f.input :producer
        = f.label :synopsis
        %p= f.text_area :synopsis, :rows => 3, :cols => 70
        %p
        // allow more than one date and role
        = f.fields_for :show_dates do |u|
          = render 'show_date_fields', :f => u
    %p
      = link_to_add_fields "Add Date", f, :show_dates

    // allow multiple roles 
    %p
      .form-inputs
        = f.fields_for :show_roles do |u|
          = render 'show_role_fields', :f => u
    %p
      = link_to_add_fields "Add Role", f, :show_roles


    .form-actions
      = f.button :submit
.div.tiles
  %p
    %br
    %br
    = link_to 'Back', shows_path

