%p#notice= notice

%p
  %b Name:
  = @show.name
%p
  %b Image:
  = @show.image
%p
  %b Director:
  = @show.director
%p
  %b Stage manager:
  = @show.stage_manager
%p
  %b Producer:
  = @show.producer
%p
  %b Synopsis:
  = @show.synopsis

= link_to 'Edit', edit_show_path(@show)
\|
= link_to 'Back', shows_path
