%p#notice= notice

%p
  %b Name:
  = @show.name
%p
  = image_tag @show.image_url, alt: "No Poster"#, size: "480x300"
%p
  %b Director:
  = @show.director
%p
  %b Stage manager:
  = @show.stage_manager
%p
  %b Producer:
  = @show.producer
%p
  %b Synopsis:
  = @show.synopsis

%p
  -if !@show.show_dates.empty?
    %b Date:
    -@show.show_dates.each do |c|
      %br
      %tr
        %td= c.date.strftime("%B %d, %Y")
        %td= c.time.strftime("%I:%M%p")
        - if(c.foh_available)
          %td= link_to 'Apply for foh', new_show_date_foh_path(c)
        - if ((current_user.role? "SeniorCommittee") || (current_user.role? "TechManager"))
          %td= link_to 'Remove', [@box,c], :method => :delete, :data => { :confirm => 'Are you sure?' }
%p
=navigation_links(@show)