.page-header
  %h1= @show.name
  -if @user_ids.include? current_user.id
    -if(@board)
      %i=link_to 'Go to Message Board', board_path(@board)

%p
  -if(@show.image?)
    = image_tag @show.image_url, alt: "No Poster", height: 480, width: "auto"
  -else
    %i= "No Show poster yet"
%p
  %b Director:
  = @show.director
%p
  %b Stage manager:
  = @show.stage_manager
%p
  %b Producer:
  = @show.producer
%p
  %b Synopsis:
  = @show.synopsis

%p
  -if !@show.show_dates.empty?
    %b Show Date(s):
    %table.table.table-striped.table-bordered.table-responsive.table-nonfluid.table-hover
      -@show.show_dates.each do |c|
        %tr
          %td= c.date.strftime("%B %d, %Y")
          %td= c.time.strftime("%I:%M%p")
          - if(c.foh_available)
            %td= link_to 'Apply for front of house', new_show_date_foh_path(c)
          - if (current_user.role? "ProductionTeam")
            %td= link_to 'Remove Date', [@box,c], :method => :delete, :data => { :confirm => 'Are you sure?' }
%p
%p
  -if !@show.show_roles.empty?
    %b Show Role(s):
    %table.table.table-striped.table-bordered.table-responsive.table-nonfluid.table-hover
      -@show.show_roles.each do |c|
        %tr
          - if(c.required_number > 0)
            %td= c.position
            %td= c.required_number
            -if(c.notexpired?)
              -if(c.applied?(current_user.id))
                %td= link_to 'View my application', current_user
              -else
                %td= link_to 'Apply for role', new_show_role_role_application_path(c)
            -if(current_user.role? "ProductionTeam")
              %td= link_to 'Remove Role', [@box,c], :method => :delete, :data => { :confirm => 'Are you sure?' }
            
%p
=show_navigation_links(@show)
