- if @social.errors.any?
  -@social.errors.full_messages.each do |msg|
    %li=msg
= simple_form_for(@social) do |f|
  //= f.error_notification

  .form-inputs
    = f.input :title
    = f.input :location
    = f.input :description
    %br= f.label :date
    = f.text_field :date, as: :bootstrap_datepicker
    %br= f.label :time
    = f.text_field :time, as: :bootstrap_timepicker
    = f.input :duration, :label => "Duration (in minutes)"
    %br

  .form-actions
    = f.button :submit
