//Displays a list of all socials events
.page-header
  %h1 List of Socials



.dashboard.clearfix
  %ul.tiles
    - if ((current_user.role? "SeniorCommittee") || (current_user.role? "Committee") || (current_user.role? "ProductionTeam"))
      %a.buttonnewsocial{href:new_social_path, role:"button"} Create New Social
      %br

    - @socials.each do |social|
      = social_name_links(social) # displays the social name as well as related icons
      .tile.tile-big.tile-12{"data-page-name" => "random-r-page", "data-page-type" => "r-page"}
        .col1.clearfix
          %i.icon-tasks
          #{social.title}
        .col2.clearfix
          %div
            %p
              = social.description

        %figure
          %figcaption.tile-caption.caption-right 
            Location: #{social.location}
            %br
            Date: #{social.date.strftime("%B %d, %Y")}
            %br
            Time: #{social.time.strftime("%I:%M%p")}
            %br
            Duration: #{social.duration} mins



