.page-header
  %h1 List of Socials

%table.table.table-striped.table-responsive.table-nonfluid.table-customstyle.table-hover
  %thead
    %tr
      %th Title
      %th Location
      %th Date
      %th Time
      %th Duration
      - if ((current_user.role? "SeniorCommittee") || (current_user.role? "Committee") || (current_user.role? "ProductionTeam"))
        %th{colspan: "3"} Options
      - else
        %th Options
  %tbody
    - @socials.each do |social|
      %tr
        %td= social.title
        %td= social.location
        %td= social.date.strftime("%B %d, %Y")
        %td= social.time.strftime("%I:%M%p")
        %td  #{social.duration} minutes
        %td= link_to 'View', social
        - if ((current_user.role? "SeniorCommittee") || (current_user.role? "Committee") || (current_user.role? "ProductionTeam"))
          %td= link_to 'Edit', edit_social_path(social)
          %td= link_to 'Delete', social, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
- if ((current_user.role? "SeniorCommittee") || (current_user.role? "Committee") || (current_user.role? "ProductionTeam"))
  %a.btn.btn-primary.btn-lg{href: new_social_path, role: "button"} Create New Social
  %br
  %br



