%h2= @social.title
%p
  %b Location:
  = @social.location
%p
  %b Description:
  = @social.description
%p
  %b Date:
  = @social.date.strftime("%B %d, %Y")
%p
  %b Time:
  = @social.time.strftime("%I:%M%p") 
%p
  %b Duration:
  #{@social.duration} minutes


=social_navigation_links(@social)