!!!

/ %html
/   %head
/     <meta name="viewport" content="width=device-width, initial-scale=1.0">
/     = stylesheet_link_tag  "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application"
/     = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application"
/     = favicon_link_tag '/favicon.ico'
/     = csrf_meta_tags

%html
  %head
    %title SUTCo
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    = stylesheet_link_tag "application", media: :all
    = javascript_include_tag "application"
    = favicon_link_tag '/favicon.ico'
    = csrf_meta_tags

  %body
    .flash-messages    
      - flash.each do |name, msg|
        .alert.fade.in{ class: "alert-#{ name == :notice ? 'success' : 'danger' }" }
          %a.close{ data: { dismiss: :alert } } &times;
          = msg

    #wrap
      %nav.navbar.navbar-inverse.navbar-fixed-top
        .container
          .navbar-header
            %button.navbar-toggle{ data: { target: ".navbar-collapse", toggle: :collapse, type: :button } }
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            = link_to :root, class: 'navbar-brand' do
              SUTCo
            
          .collapse.navbar-collapse
            -if user_signed_in?
              %ul.nav.navbar-nav
                = navbar_link_to "/pages/welcome", title: "Go to your dashboard", identifier: :dashboard do
                  %i.icon-dashboard
                  Home
              %ul.nav.navbar-nav
                = navbar_link_to :calendars, title: "Event Calendar", identifier: :calendar do
                  %i.icon-calendar
                  Event Calendar
              %ul.nav.navbar-nav
                = navbar_link_to :shows, title: "Shows", identifier: :shows do
                  %i.icon-film
                  Shows
              %ul.nav.navbar-nav
                = navbar_link_to :workshops, title: "Workshops", identifier: :workshops do
                  %i.icon-shopping-cart
                  Workshops
              %ul.nav.navbar-nav
                = navbar_link_to :trainings, title: "Trainings", identifier: :trainings do
                  %i.icon-tasks
                  Trainings
              - if ((current_user.role? "SeniorCommittee") || (current_user.role? "TechManager"))
                %ul.nav.navbar-nav
                  = navbar_link_to :users, title: "Users", identifier: :users do
                    %i.icon-user
                    Users
              - else
                %ul.nav.navbar-nav
                  = navbar_link_to edit_user_registration_path, title: "Profile", identifier: :user do
                    %i.icon-user
                    Profile
              %ul.nav.navbar-nav
                = navbar_link_to destroy_user_session_path,method: :delete, title: "Log out", identifier: :logout do
                  %i.icon-signout
                  Log out


      #navbar-background
      #main-container.container= yield


    #footer
      .container
        %p
          &copy;#{Date.today.year} Genesys Solutions
