!!!

%html
  %head
    %title SUTCo
    <meta name="viewport" content="width=device-width, initial-scale=0.6">
    = stylesheet_link_tag "application", media: :all
    = javascript_include_tag "application"
    = favicon_link_tag '/favicon.ico'
    = csrf_meta_tags

  %body
    .flash-messages    
      - flash.each do |name, msg|
        .alert.fade.in{ class: "alert-#{ name == :notice ? 'success' : 'danger' }" }
          %a.close{ data: { dismiss: :alert } } &times;
          = msg

    #wrap
      %nav.navbar.navbar-inverse.navbar-fixed-top
        .container
          .navbar-header
            %button.navbar-toggle{ data: { target: ".navbar-collapse", toggle: :collapse, type: :button } }
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            = link_to :root, class: 'navbar-brand' do
              SUTCo
            
          .collapse.navbar-collapse
            -if user_signed_in?
              %ul.nav.navbar-nav
                = navbar_link_to welcome_path, title: "Homepage", identifier: :home do
                  %i.icon-home
                  Home
              %ul.nav.navbar-nav
                = navbar_link_to :calendars, title: "Event Calendar", identifier: :calendar do
                  %i.icon-calendar
                  Event Calendar
              %ul.nav.navbar-nav
                %li.dropdown{class: (:active if @current_nav_identifier == :shows)}
                  %a.dropdown-toggle{"data-toggle" => "dropdown", "data-target" => "#", :href => "#"}
                    %i.icon-film
                    = "Shows"
                    %b.caret
                  %ul.dropdown-menu
                    = navbar_link_to :shows, title: "Shows" do
                      %i.icon-film
                      List of Shows
                    = navbar_link_to fohs_path, title: "Shows"  do
                      %i.icon-male
                      %i.icon-female
                      Front of House
                    - if (current_user.role? "DramaStudioManager")
                      = navbar_link_to role_applications_path, title: "Shows"  do
                        %i.icon-meh
                        Role Applications
              %ul.nav.navbar-nav
                = navbar_link_to :workshops, title: "Workshops", identifier: :workshops do
                  %i.icon-shopping-cart
                  Workshops
              %ul.nav.navbar-nav
                = navbar_link_to :trainings, title: "Trainings", identifier: :trainings do
                  %i.icon-tasks
                  Trainings
              %ul.nav.navbar-nav
                = navbar_link_to :socials, title: "Socials", identifier: :socials do
                  %i.icon-group
                  Socials
              - if (Board.find_by_title('General Message Board'))
                %ul.nav.navbar-nav
                  = navbar_link_to board_path(Board.find_by_title('General Message Board')), title: "Message Board", identifier: :boards do
                    %i.icon-group
                    Message Board
              - if ((current_user.role? "SeniorCommittee") || (current_user.role? "TechManager"))
                %ul.nav.navbar-nav
                  = navbar_link_to :users, title: "Users", identifier: :users do
                    %i.icon-user
                    Users
              - else
                %ul.nav.navbar-nav
                  = navbar_link_to user_path(current_user), title: "Profile", identifier: :users do
                    %i.icon-user
                    Profile
              %ul.nav.navbar-nav
                = navbar_link_to destroy_user_session_path,method: :delete, title: "Log out", identifier: :logout do
                  %i.icon-signout
                  Log out


      #navbar-background
      #main-container.container= yield


    #footer
      .container
        %p
          &copy;#{Date.today.year} Genesys Solutions
