!!!
/ %html
/   %head
/     %title Team10MiniProject
/     <meta name="viewport" content="width=device-width, initial-scale=1.0">
/     = stylesheet_link_tag    "application", media: :all
/     = javascript_include_tag "application"
/     = favicon_link_tag '/favicon.ico'
/     = csrf_meta_tags

%html
  %head
    %title Team10MiniProject
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    = stylesheet_link_tag  "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application"
    = favicon_link_tag '/favicon.ico'
    = csrf_meta_tags


  %body
    .flash-messages    
      - flash.each do |name, msg|
        .alert.fade.in{ class: "alert-#{ name == :notice ? 'success' : 'danger' }" }
          %a.close{ data: { dismiss: :alert } } &times;
          = msg

    #wrap
      %nav.navbar.navbar-inverse.navbar-fixed-top
        .container
          .navbar-header
            %button.navbar-toggle{ data: { target: ".navbar-collapse", toggle: :collapse, type: :button } }
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            = link_to :root, class: 'navbar-brand' do
              SUTCo
            
          .collapse.navbar-collapse    
            %ul.nav.navbar-nav
              = navbar_link_to :root, title: "Go to your dashboard", identifier: :dashboard do
                %i.icon-dashboard
                Home
            %ul.nav.navbar-nav
              = navbar_link_to :calendars, title: "Event Calendar", identifier: :dashboard do
                %i.icon-calendar
                Event Calendar
            %ul.nav.navbar-nav
              = navbar_link_to :shows, title: "Shows", identifier: :dashboard do
                %i.icon-film
                Shows
            %ul.nav.navbar-nav
              = navbar_link_to :fohs, title: "Front of House", identifier: :dashboard do
                %i.icon-home
                Front of House
            %ul.nav.navbar-nav
              = navbar_link_to :workshops, title: "Workshops", identifier: :dashboard do
                %i.icon-shopping-cart
                Workshops
            %ul.nav.navbar-nav
              = navbar_link_to :trainings, title: "Trainings", identifier: :dashboard do
                %i.icon-tasks
                Trainings
            %ul.nav.navbar-nav
              = navbar_link_to :roles, title: "Roles", identifier: :dashboard do
                %i.icon-user
                Roles
            %ul.nav.navbar-nav
              -if user_signed_in?
                // %h1= "Logged in as <strong><%= current_user.email %></strong>."
                = link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link'  |
                = link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'
              -else
                = navbar_link_to new_user_registration_path, title: "Sign UP", identifier: :dashboard do
                  %i.icon-user
                  Sign Up
                = navbar_link_to new_user_session_path, title: "Log In", identifier: :dashboard do
                  %i.icon-user
                  Or Log In


      #navbar-background
      #main-container.container= yield


    #footer
      .container
        %p
          &copy;#{Date.today.year} Genesys Solutions
